/* font-family: "KelsonSansRegular"; */
@font-face {
    font-family: "KelsonSansRegular";
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot");
    src: url("../fonts/KelsonSansRegular/KelsonSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.woff") format("woff"),
    url("../fonts/KelsonSansRegular/KelsonSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "KelsonSansLight"; */
@font-face {
    font-family: "KelsonSansLight";
    src: url("../fonts/KelsonSansLight/KelsonSansLight.eot");
    src: url("../fonts/KelsonSansLight/KelsonSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansLight/KelsonSansLight.woff") format("woff"),
    url("../fonts/KelsonSansLight/KelsonSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "KelsonSansBold"; */
@font-face {
    font-family: "KelsonSansBold";
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot");
    src: url("../fonts/KelsonSansBold/KelsonSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/KelsonSansBold/KelsonSansBold.woff") format("woff"),
    url("../fonts/KelsonSansBold/KelsonSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "AirportRegular"; */
@font-face {
    font-family: "AirportRegular";
    src: url("../fonts/AirportRegular/AirportRegular.eot");
    src: url("../fonts/AirportRegular/AirportRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AirportRegular/AirportRegular.woff") format("woff"),
    url("../fonts/AirportRegular/AirportRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansCondensedLight"; */
@font-face {
    font-family: "OpenSansCondensedLight";
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansCondensedLightItalic"; */
@font-face {
    font-family: "OpenSansCondensedLightItalic";
    src: url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot");
    src: url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.woff") format("woff"),
    url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansCondensedBold"; */
@font-face {
    font-family: "OpenSansCondensedBold";
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot");
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"),
    url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "CenturyGothicRegular"; */
@font-face {
    font-family: "CenturyGothicRegular";
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ClearSansRegular"; */
@font-face {
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
    font-family: "ClearSansBold";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansItalic"; */
@font-face {
    font-family: "ClearSansItalic";
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot");
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansItalic/ClearSansItalic.woff") format("woff"),
    url("../fonts/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansLight"; */
@font-face {
    font-family: "ClearSansLight";
    src: url("../fonts/ClearSansLight/ClearSansLight.eot");
    src: url("../fonts/ClearSansLight/ClearSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansLight/ClearSansLight.woff") format("woff"),
    url("../fonts/ClearSansLight/ClearSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansMedium"; */
@font-face {
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
    url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansBoldItalic"; */
@font-face {
    font-family: "ClearSansBoldItalic";
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot");
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff") format("woff"),
    url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansMediumItalic"; */
@font-face {
    font-family: "ClearSansMediumItalic";
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot");
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff") format("woff"),
    url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "EtelkaMediumProRegular"; */
@font-face {
    font-family: "EtelkaMediumProRegular";
    src: url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.eot");
    src: url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.woff") format("woff"),
    url("../fonts/EtelkaMediumProRegular/EtelkaMediumProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "EtelkaMediumProBold"; */
@font-face {
    font-family: "EtelkaMediumProBold";
    src: url("../fonts/EtelkaMediumProBold/EtelkaMediumProBold.eot");
    src: url("../fonts/EtelkaMediumProBold/EtelkaMediumProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/EtelkaMediumProBold/EtelkaMediumProBold.woff") format("woff"),
    url("../fonts/EtelkaMediumProBold/EtelkaMediumProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "LeagueGothicRegular"; */
@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "IntroRegular"; */
@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular/IntroRegular.eot");
    src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "IntroInline"; */
@font-face {
    font-family: "IntroInline";
    src: url("../fonts/IntroInline/IntroInline.eot");
    src: url("../fonts/IntroInline/IntroInline.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroInline/IntroInline.woff") format("woff"),
    url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
